.dashboard-container {
  background-color: #8BC24B;
  padding: 20px;
  border-radius: 8px;
}

.date-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.section h2 {
  color: #757575;
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 10px;
}

h1, p {
  text-align: center;
  color: #757575;
}
